<footer class="w-full bg-[#000000] py-12 border-t border-[#181848] font-dosis">
  <div class="max-w-6xl mx-auto px-6 flex flex-col items-center">

    <div class="mb-8 text-center">
      <h2 class="text-xl font-bold tracking-widest text-[#674d69] uppercase">
        Fernando Morales Cilia <span class="text-[#7890a8]">/</span> Portfolio
      </h2>
      <p class="text-[#7890a8] text-sm mt-2 font-light">Diseñando experiencias digitales desde el código.</p>
    </div>

    <div class="flex gap-8 mb-10">
      <a href="https://github.com/IgniferDev" target="_blank" class="text-[#7890a8] hover:text-[#674d69] transition-colors duration-300">
        <span class="text-sm font-semibold tracking-tighter">GITHUB</span>
      </a>
      <a href="https://www.linkedin.com/in/fernando-morales-cilia-6b27b8357/" target="_blank" class="text-[#7890a8] hover:text-[#674d69] transition-colors duration-300">
        <span class="text-sm font-semibold tracking-tighter">LINKEDIN</span>
      </a>
      <a href="https://leetcode.com/u/igniferdev/" target="_blank" class="text-[#7890a8] hover:text-[#674d69] transition-colors duration-300">
        <span class="text-sm font-semibold tracking-tighter">LEETCODE</span>
      </a>
    </div>

    <div class="w-24 h-px bg-linear-to-r from-transparent via-[#674d69] to-transparent mb-8"></div>

    <div class="flex flex-col md:flex-row justify-between items-center w-full text-[#7890a8]/50 text-xs tracking-widest uppercase">
      <p>© 2026 TODOS LOS DERECHOS RESERVADOS</p>
      <p class="mt-4 md:mt-0 italic font-semibold">Hecho con Angular & Tailwind</p>
    </div>

  </div>
</footer>
