/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
body {
  font-family: 'Dosis', sans-serif;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 80px; /* Evita que la navbar tape el título de la sección */
}

